@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}