---
import "../styles/global.css";
---

<html>
  <head>
    <title>Destraxion</title>
  </head>
  <body>
    <div class="container">
      <h1>Hi, I'm Destraxion</h1>
      <p>Welcome to my portfolio.</p>

      <form action="https://portfolio-backend-tau-green.vercel.app/api/contact" method="POST">
        <input type="text" name="name" placeholder="Nama" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <textarea name="message" placeholder="Message" required></textarea><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
