---
import "../styles/global.css";
import ContactForm from "../components/ContactForm.astro";
---

<html>
  <head>
    <title>Destraxion</title>
  </head>
  <body>
    <div class="container">
      <h1>Hi, I'm Destraxion</h1>
      <p>Welcome to my portfolio.</p>

      <ContactForm />
    </div>
  </body>
</html>