<html>
  <head>
    <title>Thanks!</title>
  </head>
  <body style="font-family: sans-serif; padding: 2rem;">
    <h1>Thank You!</h1>
    <p>Your message has been sent. I'll get back to you soon.</p>
    <a href="/">â† Back to Home</a>
  </body>
</html>
