---
import "../styles/global.css";
---

<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <div class="container">
      <h1>Thank you!</h1>
      <p>Your message has been sent. I'll get back to you soon.</p>
      <a href="/">Back to homepage</a>
    </div>
  </body>
</html>