---
const actionUrl = "https://portfolio-backend-tau-green.vercel.app/api";
---

<form id="contact-form">
  <input type="text" name="name" placeholder="Nama" required><br>
  <input type="email" name="email" placeholder="Email" required><br>
  <textarea name="message" placeholder="Message" required></textarea><br>
  <button type="submit">Send</button>

  <script client:load>
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.getElementById("contact-form");

      form?.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const data = new URLSearchParams(formData);

        try {
          const res = await fetch({actionUrl}, {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded"
            },
            body: data
          });

          const result = await res.json();
          if (result.status === "ok") {
            window.location.href = "/thank-you";
          } else {
            alert("Failed to send message");
          }
        } catch (err) {
          alert("Error submitting the form.");
          console.error(err);
        }
      });
    });
  </script>
</form>