<section class="flex-col text-center min-h-screen flex items-center justify-center">
  <h2 class="text-4xl font-bold mb-4">Hi, I'm Schalke</h2>
  <p class="text-lg text-gray-600 dark:text-gray-400 mb-6">
    I am currently learning Cloud Computing and aspire to become a professional in this field.
  </p>
  <a href="#about" class="inline-block bg-gray-900 dark:bg-white text-white dark:text-black px-6 py-2 rounded-md dark:hover:bg-orange-700 dark:hover:text-white hover:bg-green-700 transition">
    View Introduction
  </a>
</section>