<section id="projects" class="flex-col text-center main-h-screen flex items-center justify-center">
  <h3 class="text-3xl font-semibold mb-6">Projects</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-white p-4 rounded shadow">
      <img src="/img/project-hollow.png" class="rounded mb-4" alt="hollow-project" />
      <h4 class="font-bold text-lg mb-2">Hollow</h4>
      <p class="text-sm text-gray-600">A fantasy 3D perpective games that rich on stories. [Under Development]</p>
    </div>
    <!-- Repeat more cards -->
  </div>
</section>