<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
</head>
<section id="techstack" class="flex-col text-center min-h-screen flex items-center justify-center bg-white dark:bg-gray-900 rounded shadow-sm">
  <h3 class="text-3xl font-semibold mb-6">Tech Stack</h3>
  <div class="flex flex-wrap gap-6 text-4xl">
    <i class="devicon-astro-plain text-purple-600"></i>
    <img src="/img/hono-js.png" alt="Hono.js" class="w-10 h-10 object-contain" />
    <i class="devicon-nodejs-plain text-green-500"></i>
    <i class="devicon-python-plain text-blue-500"></i>
    <i class="devicon-laravel-plain text-red-600"></i>
    <i class="devicon-terraform-plain text-indigo-600"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-github-original text-black"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
  </div>
</section>