---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destra Xion Portfolio</title>
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans">
    <main class="max-w-5xl mx-auto px-6 sm:px-8 md:px-10">
      <slot />
    </main>
  </body>
</html>